.u-footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .u-footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    margin-right: 20%;
  }
  
  .u-footer-logo {
    height: 50px;
    margin-right: 10%;
  }
  
  .contact-email {
    color: #ff6347;
  }
