/* Căn chỉnh container */
.main-chapter-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.chapter-content .chapter-post-date {
  font-size: 16px;
  margin-left: 10px;
  margin-top:10px;
  color: #888;
  text-align: left; /* Aligns "Posted at" to the left */
}

.chapter-content .chapter-title {
  font-size: 28px;
  font-weight: bold;
  color: #900;
  text-align: center;
}

.chapter-content .chapter-now {
  font-size: 22px;
  color: #600;
  text-align: center;
}

.chapter-content-text {
  text-align: justify;
  font-size: 22px;
  line-height: 3.2;
  color: #333;
  margin: 1% 11% 1% 11%;
}

.chapter-select-buttons {
  display: flex;
  justify-content: center; /* Center buttons */
  gap: 10px; /* Adjust the space between buttons */
  margin-top: 20px;
  margin-bottom: 20px;
}

.chapter-select-buttons .chapter-btn {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
}

.chapter-select-buttons .chapter-btn-primary {
  background-color: #900;
  border: none;
}

.chapter-select-buttons .chapter-btn-secondary {
  background-color: #600;
  border: none;
}


.u-view-dropdown {
  position: relative;
  display: inline-block;
}

.u-view-dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  width: 200px; /* Tuỳ chỉnh kích thước */
  max-height: 300px; /* Tuỳ chỉnh chiều cao tối đa */
  overflow-y: auto; /* Thêm cuộn khi cần */
}

.u-view-dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.u-view-dropdown-menu li {
  width: 100%;
}

.u-view-dropdown-menu button {
  width: 100%;
  padding: 8px 16px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.u-view-dropdown-menu button:hover {
  background-color: #f0f0f0;
}
